/* https://bulma.io/documentation/overview/start/ layout tools */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

/* font pairing  */
@font-face {
  font-family: '04B30';
  src: local('04B30.ttf'), url(../fonts/04B30.ttf) format('truetype');
}
@font-face {
  font-family: 'PixelUnicode';
  src: local('pixel-unicode-webfont.woff'), url(../fonts/pixel-unicode-webfont.woff) format('truetype');
}

/* boilerplate PWA styling; custom format stuff begins ~ line 600 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  background: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: '04B30', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

/* Jacks.Media custom styling; cld be refactored to smaller 'sheets  */
.header-styling {
  /* background: #C4939E; dark pink */
  background: #333; /* neutral gray */
  marginBottom: 1.45rem;
}
.footer-styling {
  background: linear-gradient(#666,#669F9F);
  padding: 2rem;
  marginTop: 2rem;
}
.white-txt {
  color: white;
}
.act-zone {
  min-height: 110vh;
  height: 110vh;
  background-color: #6666;
}
.spacer-zone {
  min-height: 90vh;
  height: 90vh;
  background-color: #555;
  background-attachment: scroll;
}

.eshib-bg-wafl {
  background: url("../images/wafl-bg.png");
  background-repeat: repeat;
  background-size: auto;
}
.shib-164 {
  background: url("../images/es164.png");
  background-size: auto;
  width: 100px;
}
.shibpic {
  height: 100px;
  width: 100px;
}
* {
  font-family: "PixelUnicode";
  color: #eee;
  font-size: 110%;
}
h1, h2, h3 {
  font-family: '04B30';
  font-size: 105%;
  color: red;
  text-shadow: -3px 3px 1px black;
}

h4, h5, h6 {
  font-family: "PixelUnicode";
}
/* such Shib branding, much wow */
.desky-links {
  font-size: 17px;
  text-shadow: -1px 1px 1px red;
}

.syrup-text {
  color: #674314;
  text-shadow: -3px 3px 1px white,
  3px 0px 1px white,
  0px 3px 1px white,
  3px -3px 1px white;
}
.dark-forest-text {
  color: #111;
  text-shadow: -3px 3px 1px white,
  3px 0px 1px white,
  0px 3px 1px white,
  3px -3px 1px white;
}
.eshib-bg-1 {
  background: url("../images/bg-piney.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
}
.eshib-bg-2 {
  background: url("../images/bg-tanesashi.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
}
.eshib-bg-3 {
  background: url("../images/bg-boaty.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
}
.eshib-bg-4 {
  background: url("../images/bg-cloudy.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
}
.eshib-bg-5 {
  background: url("../images/bg-ghosty.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
}
.eshib-bg-15 {
  background: url("../images/bg-leafygate.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
}
.eshib-bg-21 {
  background: url("../images/lkmex.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
}
.eshib-bg-22 {
  background: url("../images/shibawave.png");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
}
.eshib-bg-6 {background: radial-gradient(#AAA19A,#73665B);}
.eshib-bg-7 {background: linear-gradient(#AFCACF,#FE825A);}
.eshib-bg-9 {background: linear-gradient(#D66A01,#D66A01);}
.eshib-bg-10 {background: linear-gradient(#C1919B,#43373A);}
.eshib-bg-11 {background: linear-gradient(#C98998,#4C151C);}
.eshib-bg-13 {background: linear-gradient(#65A09D,#3C3232);}

/* slides  */
.slideshow {
  position: relative;
  overflow: hidden;
  height: 314px;
}
.slideshow2 {
  position: relative;
  overflow: hidden;
  height: 68vh;
}
.images-1 {
  transform: translate3d(0, 0, 0);
  background: url(../images/doges-ghosty.png);
  position: absolute;
  left: 0;
  top: 0;
  height: 300%;
  width: 206px;
  animation: slideshow2 73s linear infinite;
}
.images01 {
  transform: translate3d(0, 0, 0);
  background: url(../images/slide1.png);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  animation: slideshow 13s linear infinite;
}
.images02 {
  transform: translate3d(0, 0, 0);
  background: url(../images/slide2.png);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 300%;
  animation: slideshow 13s linear infinite;
}
.images03 {
  transform: translate3d(0, 0, 0);
  background: url(../images/slide3.png);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  animation: slideshow 13s linear infinite;
}
.images04 {
  transform: translate3d(0, 0, 0);
  background: url(../images/slide4.png);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 300%;
  animation: slideshow 13s linear infinite;
}

@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}
@keyframes slideshow2 {
  0%    { top: 0; }
  100%  { top: -200%; }
}

.shibutton {
  padding: 1rem;
  background-color: #333;
  color: snow;
}
.shibutton:hover {
  color: red;
  background-color: #555;
}

.svg-market-1 {
  color: white;
  background-image: url(../images/trustmarket.svg);
  width: 36px;
  height: 15px;
  background-size: cover;
}
.svg-market-2 {
  color: white;
  background-image: url(../images/deadrare.svg);
  width: 12px;
  height: 20px;
  background-size: cover;
}

.gray {
  background-color: #3338;
}

p {
  padding-left: 1.2rem;
}

@keyframes glowtext {
  from {color: red;}
  to {color: #f0f;}
}
@keyframes geez {
  0% { color: tomato; }
  40% { color: red; }
  60% { color: #f0f; }
  80% { color: red; }
  100% { color: white }
}
.yikes {
  animation: geez 6s ease 0.35s infinite alternate;
}
strong  {
  animation: geez 2s ease 0.35s infinite alternate;
}
.hero-size-text {
  font-size: 3.3rem;
  text-align: center;
  color: snow;
}
.navicon {
  font-size: 0.7em;
}
.unbullet {
  list-style-type: none;
}
.table {
  background-color: #0000;
  max-width: 95vw;
}
.roady {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
}
.mapper {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
}

/* numbers */
.mapper:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.25em;
  width: 1.25em;
  background-color: #34435E;
  text-align: center;
  line-height: 1.25em;
  color: snow;
  font-size: 1em;
}


/* odd number borders */
.mapper:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}
.mapper:before {
  left: 100%; 
  margin-left: -20px;
}

/* even number borders */
.mapper:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}  
.mapper:before {
  right: 100%; 
  margin-right: -20px;
}

/* handle first and last */
.mapper:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.mapper:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
a {
  color: white;
}
a:hover {
  animation: geez 0.5s ease 0.15s infinite alternate;
}
.whyt {
  color: snow;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
